@font-face {
    font-family: Gotham;
    src: url('./fonts/Gotham-Book.otf');
}
@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Italic-VariableFont_wght.ttf');
    font-style: italic; 
}

@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Thin.ttf');
    font-weight: thin;
}

.main-container {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.header {
    font-family: Jost;
    font-size: 1.125rem;
}

.content {
    height: 90vh;
    background-image: url('./assets/black_vanila_toronto.jpg');
    background-size: cover;   
}

.txt {
    font-family : Jost;
    font-weight : bold;
    font-size : 3.313rem;
    text-transform : uppercase;
    color : #FFFFFF;
}

.about-us {
    background-color: black;
}
.about-us-txt .title {
  font-family : Myriad Pro;
  font-size : 2.938rem;
  color : #FFFFFF;
}

.about-us-txt p {
    font-family: Jost;
    color: #FFFFFF;
    font-weight: thin;
    font-size : 18px;
    line-height : 33.02px;
    letter-spacing : 0.58px;
}

.card-body {
    font-family : Myriad Pro;
    font-size : 28px;
    color : #FFFFFF;
    background: black;
}