@font-face {
    font-family: Gotham;
    src: url('./fonts/Gotham-Book.otf');
}
@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Italic-VariableFont_wght.ttf');
    font-style: italic; 
}

@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: Jost;
    src: url('./fonts/Jost-Medium.ttf');
    font-weight: medium;
}

.main-container {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.header {
    font-family: Jost;
    font-size: 1.125rem;
}

.content {
    height: 90vh;
    background-image: url('./assets/black_vanila_toronto.jpg');
    background-size: cover;   
}

.txt {
    font-family : Jost;
    font-weight : bold;
    font-size : 3.313rem;
    text-transform : uppercase;
    color : #FFFFFF;
}